{% load static %}
h1 {
  color: ivory;
  background-color: darkslategray;
  border: 5px solid gray;
  padding: 15px;
}

h2 {
	color: gray;
	background-color: ivory;
	text-align: center;
	border: 5px solid silver;
	padding: 15px
}

.hidden {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.hidden:hover {
	opacity: 1;
}

h3 {
	color: slategray;
	background-color: darkslategray;
	padding: 20px;
	text-align: center;
	border: 5px solid gainsboro;
}

h4 {
	color: gainsboro;
	background-color: dimgray;
	padding: 10px;
	border: 5px solid seashell;
} 

p {
	color: darkslategray;
	background-color: lightgrey;
	padding: 10px;
	border: 5px solid slategray
	}

body {
	background-color: LightGrey;
	}

a.nav:link {
	color: ivory;
	background-color: none;
	text-decoration: none;
	padding: 3px;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}

a.nav:visited {
	color: ivory;
	background-color: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	text-decoration: none;
}

a:link {
	color: darkslategray;
	background-color: none;
	text-decoration: none;
	padding: 3px;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

a:visited {
	color: darkslategray;
	background-color: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	max-width: 1600;
	background-color: dimgray;
	padding: 20px;
	list-style-position: inside;
	border: 5px solid slategray;
	margin: auto;
	}
ol {
	max-width: 1600;
	background-color: dimgray;
	padding: 20px;
	list-style-position: inside;
	border: 5px solid slategray;
	margin: auto;
	}
ul li {
	color: gray;
	background-color: gainsboro;
	padding: 5px;
	border: 3px solid silver;
		}
li a {
	color: silver;
	}
.center {
	width: 100%;
	border: 5px solid silver;
	padding: 20px;
	}

ul.none {
	margin: auto;
	list-style-type: none;
	}
	
ul.main {
	margin: auto;
	max-width: 1200px;
	text-align: center;
	list-style-type: circle;
	}
	
ul li.main {
	float: center;
	text-align: center;
	}
	
ul li a.main {

	color: slategray;
	padding: 10px;
	text-align: center;
}

table {
	color: dimgray;
	background-color: gainsboro;
	border: 5px solid slategray;
	padding: 10px;
	margin: auto;
	width:
}
 th, td {
  border-bottom: 1px solid #003399;
  padding: 10px;
}

.connectedSortableSteps {
	color: darkslategray;
	background-color: dimgray;
	border: 2px solid gainsboro;
	padding: 5px;
}

.connectedSortableSteps div span {
	border: 2px solid gainsboro;
}

.step {
	color: darkslategray;
	background-color: gainsboro;
	border: 5px solid darkslategray;
	padding: 10px;
}

div.flow {
	max-width: 1600;
	background-color: dimgray;
	padding: 20px;
	border: 5px solid slategray;
	margin: auto;
}

.ui-dialog {
	background-color: gray;
	border: 10px solid lightslategray;
	padding: 10px;
}

.per_flow_div {
	background-color: dimgray;
	border: 5px solid darkslategray;
	padding: 10px;
}

.move-button {
	float: right;
	}

.step-input {
	float: right;
	padding: 2px;
}
