{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}UH?{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'flowapp/style.css' %}">
	<meta name="robots" content="noindex" />
	<script>
		function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');</script>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% block javascript %}{% endblock %}
</head>

<body>
<h1><a class="nav" href="/">ManTest</a></h1>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
