{% extends "flowapp/base.html" %}
{% load static %}
{% block title %}{{ project.name }} | Testing Steps{% endblock %}

{% block content %}
<style>
	.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
	.sortable li span { position: absolute; margin-left: -1.3em; }
	.connectedSortableSteps div { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
	.connectedSortableSteps div span { position: absolute; margin-left: -1.3em; }
	.bold {font-weight:bold}
</style>
<h2>{{ project.name }}</h2>
<div id="flows">
{% include 'flowapp/flows.html' %}
</div>
<div id="form_div" style="display:none;">
	<form action="/#/" method="post" id="form">
	</form>
	<button onclick="postStepForm()">
		Submit
	</button>
</div>
<div id="edit_form_div" style="display:none;">
	<form action="/#/" method="post" id="edit_form">
	</form>
	<button onclick="postEditStepForm()">
		Submit
	</button>
</div>
<div id="flow_form_div" style="display:none;">
	<form action="/#/" method="post" id="flow_form">
	</form>
	<button onclick="postFlowForm({{ project.id }})">
		Submit
	</button>
</div>
<p id="step_type_id" style="display:none;"></p>

<!--
<script>document.getElementById("jst").innerHTML = getCookie('csrftoken') </script>
-->
<span onclick="getFlowForm({{ project.id }}, 'flow_form')">Add Flow</span>
{% endblock %}
{% block javascript %}
<script>
	// Declare a callback function to be called every time a sortable
	// is about to land in its new (or same) location
	var oldFlow;
	var newFlow;
	function my_ui_sort_before_stop_callback(event, ui) {
		function move_step_success_callback(o, n) {
			// $("#"+old_flow).load(" #"+old_flow);
			console.log("");
			console.log("DEBUGGING SUCCESS CALLBACK");
			console.log(o)
			console.log(n)
			oldFlow = o;
			newFlow = n;
			console.log(oldFlow)
			console.log(newFlow)
			//$("#"+new_flow).load(" #"+new_flow);
		}
		var moved_item_id = ui.item[0].id;
		var target_flow_id = event.target.id;
		var new_parent_flow_id = ui.item.parent()[0].id;
		var new_position = ui.item.index()+1;
		// It only counts as a move within the flow if the target and source are the same.
		if (target_flow_id == new_parent_flow_id) {
			console.log("");
			console.log("DEBUGGING MOVE SUCCESS");
			console.log(target_flow_id)
			console.log(new_parent_flow_id)
			console.log("-- STEP SORTED WITHIN FLOW --");
			console.log("Step ID: " + moved_item_id);
			console.log("FLOW ID: " + new_parent_flow_id);
			console.log("New Position: " + new_position);
			$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/move-step/',
				data: {
					"step_pk": moved_item_id,
					"new_list_position": new_position,
					"old_flow": target_flow_id,
					"new_flow": new_parent_flow_id,
					"csrfmiddlewaretoken": '{{ csrf_token }}'
				},
				//success: move_step_success_callback
				success: move_step_success_callback(target_flow_id, new_parent_flow_id)
			});
		}
		// If target and source are not the same, they must have moved flows
		else {
			console.log("");
			console.log("-- STEP MOVED FROM ONE FLOW TO ANOTHER --");
			console.log("Step ID: " + moved_item_id);
			console.log("FROM FLOW ID: " + target_flow_id);
			console.log("TO FLOW ID: " + new_parent_flow_id);
			console.log("New Position: " + new_position);
			$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/move-step/',
				data: {
					"step_pk": moved_item_id,
					"new_list_position": new_position,
					"old_flow": target_flow_id,
					"new_flow": new_parent_flow_id,
					"csrfmiddlewaretoken": '{{ csrf_token }}'
				},
				success: move_step_success_callback(target_flow_id, new_parent_flow_id)
			})
		}
	}
	
	function my_ui_update_callback(event, ui)
	{
		console.log("DEBUGGING MOVE UPDATE CALLBACK");
		console.log(oldFlow)
		console.log(newFlow)
		// TODO: Refresh each unique flow by hitting get_flow_html(flow_id) (selector.load)
	} 

	// Make the div steps sortable and connected (so you can sort from one into the other)
	$( function () {
		$( "{% for flow in project.flow_set.all %}#{{ flow.id }}, {% if forloop.last %} #{{flow.id}} {% endif %}{% endfor %}" ).sortable({
			beforeStop: my_ui_sort_before_stop_callback,
			update: my_ui_update_callback,
			connectWith: ".connectedSortableSteps",
		}).disableSelection();
	});

</script>
<script>
function update_project_function(project_id) {
	$.ajax ({
		type: 'GET',
		url: '/get-flows/',
		data: {'project_id': project_id},
		success: function (data) {
			console.log(data)
			document.getElementById("flows").innerHTML = data
			
		}
		});
	}
function FlowChange(direction, flow_id) {
	$.ajax ({
		type: 'POST',
		url:'/move-flow/',
		data: {
			'flow_id': flow_id,
			"csrfmiddlewaretoken": '{{ csrf_token }}',
			'direction': direction
			},
		success: update_project_function
	});
}
function update_flow_function(flow_id) {
		console.log(flow_id)
		$.ajax ({
			type: 'GET',
			url: '/get-flow/',
			data: {
				"flow_id": flow_id
				},
			success: function (data) {
				document.getElementById(flow_id+"_load_selector").innerHTML = data
				$( "#"+flow_id ).sortable({
					beforeStop: my_ui_sort_before_stop_callback,
					update: my_ui_update_callback,
					connectWith: ".connectedSortableSteps",
				}).disableSelection();
			}
		});
}
function getFormData($form){
		var unindexed_array = $form.serializeArray();
		var indexed_array = {};
		
		$.map(unindexed_array, function(n, i){
			indexed_array[n['name']] = n['value'];
		});
		
		return indexed_array;
	}
	
function postStepForm(){
		var $form = $("#form");
		var formData = getFormData($form);
		console.log(formData)
		originalData = {
					"csrfmiddlewaretoken": '{{ csrf_token }}',
					"step_type_id": document.getElementById("step_type_id").innerHTML,
					"flow": step_flow_id
		}
		data = {...originalData, ...formData}
		$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/step-form/',
				data: data,
				success: function (data) {
					var data = data
					console.log(data)
					var status = data['status']
					var form = data['form']
					console.log(status)
					if (status == "Failed"){
						document.getElementById('form').innerHTML = form
						}
					else {
					$('#form_div').dialog('close');
					update_flow_function(data);
					}
					}
		});
}
</script>
<script>
var big_step_id
function deleteStep(step_id) {
	$.ajax({
		type: 'POST',
		url: '/delete-step/',
		data: {
			"csrfmiddlewaretoken": '{{ csrf_token }}',
			'step_id': step_id
			},
		success: update_flow_function
		});
}

function editStepForm(step_id) {
	console.log(step_id)
	big_step_id = step_id
	$.ajax({
	type: 'GET',
	url: '/edit-step/',
	data: { 'step_id': step_id },
	success: function (data) {
			console.log("Got")
			document.getElementById('edit_form').innerHTML = data
			dialog=$("#edit_form_div").dialog({
			});
		}
	});
}

function postEditStepForm(){
		var $form = $("#edit_form");
		var formData = getFormData($form);
		console.log(formData)
		var originalData = {
					"csrfmiddlewaretoken": '{{ csrf_token }}',
					"step_id": big_step_id,
		}
		data = {...originalData, ...formData}
		console.log(originalData)
		$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/edit-step/',
				data: data,
				success: function (data) {
					var data = data
					console.log(data)
					var status = data['status']
					var form = data['form']
					console.log(status)
					if (status == "Failed"){
						document.getElementById('edit_form').innerHTML = form
						}
					else {
					$('#edit_form_div').dialog('close');
					update_flow_function(data);
					}
					}
		});
}
</script> 
<script>
var step_flow_id
	function getStepForm(step_type_id, form_id, menu_id, flow_id) {
	var dialogForm;
	step_flow_id = flow_id
		$.ajax({
			type: 'GET',
			url: 'http://127.0.0.1:8000/step-form/',
			data: {
				"step_type_id": step_type_id,
				"pk": step_type_id,
			},
		success: function (data) {
			console.log("Got")
			$('#'+menu_id).dialog('close');
			document.getElementById(form_id).innerHTML = data
			document.getElementById("step_type_id").innerHTML = step_type_id
			dialog=$("#form_div").dialog({
			});
		}
	});
}
</script>
<script>
	function popup_Menu(flow_id) {
		dialog=$("#"+flow_id).dialog({
			});
		}
</script>
<script>
	function showFunction(button_id) {
		var x = document.getElementById(button_id);
		x.style.visibilty = "visible";
	}
</script>
<script>
	function insertFunction(step_id, previous_order) {
		function insert_post_success_callback(data, status) {
				console.log("--POSTED--");
				console.log(status);
		}	
		console.log(previous_order)
		$.ajax({
			type: 'POST',
			url: 'http://127.0.0.1:8000/insert-step/',
			data: {
				"previous_order": previous_order,
				"csrfmiddlewaretoken": '{{ csrf_token }}'
			},
			success: insert_post_success_callback,
		});
	}
</script>
<script>
	function getFlowForm(project_id, form_id) {
	var dialogForm;
		$.ajax({
			type: 'GET',
			url: 'http://127.0.0.1:8000/flow-form/',
		success: function (data) {
			console.log("Got")
			document.getElementById(form_id).innerHTML = data
			dialog=$("#flow_form_div").dialog({
			});
		}
	});
}
	function postFlowForm(project_id) {
		var $form = $("#flow_form");
		var formData = getFormData($form);
		console.log(formData)
		originalData = {
					"csrfmiddlewaretoken": '{{ csrf_token }}',
					"project_id": project_id,
		}
		data = {...originalData, ...formData}
		$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/flow-form/',
				data: data,
				success: function (data) {
					var data = data
					console.log(data)
					var status = data['status']
					var form = data['form']
					console.log(status)
					if (status == "Failed"){
						document.getElementById('flow_form').innerHTML = form
						}
					else {
					$('#flow_form_div').dialog('close');
					update_project_function(data);
					}
					}
		});
}
		

</script>
<script>
	function test(step_id, direction, original_order) {
		console.log(step_id);
		console.log(direction);
		console.log(original_order);
		function my_post_callback(data, status) {
				console.log("--POSTED--");
				console.log(data);
				console.log(status);
		}

		var new_list_position
		if (direction=="up") {
			var new_list_position = original_order - 1;
		} else if (direction=="down") {
			var new_list_position = original_order + 1;
		} else {
		//TODO: RAISE AN ERROR
		}

		$.ajax({
			type: 'POST',
			url: 'http://127.0.0.1:8000/move-step/',
			data: {
				"step_pk": step_id,
				"new_list_position": new_list_position ,
				"csrfmiddlewaretoken": '{{ csrf_token }}'
			},
			success: my_post_callback,
		});
	}
</script>
{% endblock %}
