{% load static %}
<div id="{{ step.id }}" class="step">
<!-- {{ step.order }} -->
{{ step.step_type }}
{% if step.url %}
URL: <a href="{{ step.url }}">{{ step.url }}</a>
{% endif %}
{% if step.passed %}
Complete: {{ step.passed }}
{% endif %}
{% if step.desired_result %}
Goal: {{ step.desired_result }}
{% endif %}
{% if step.fixture %}
Fixture: {{ step.fixture }}
{% endif %}
<input class="step-input"
type="image" src="{% static 'flowapp/images/trash.jpeg' %}" onclick="deleteStep('{{ step.id }}')" width="20" height="20">
<input class="step-input"
type="image" src="{% static 'flowapp/images/edit.jpeg' %}" onclick="editStepForm('{{ step.id }}')" width="20" height="20">
</div>
