{% load static %}
<h3>{{ flow.name }} <input type="image" class="move-button" onclick="FlowChange('up', '{{ flow.id }}')" src="{% static 'flowapp/images/up.png' %}" height="20" width="20"> <input type="image" class="move-button" onclick="FlowChange('down', '{{ flow.id }}')" src="{% static 'flowapp/images/down.png' %}" height="20" width="20"></h3>
<div class="flow_steps_{{ flow.id }}">
	<div id="{{ flow.id }}" class="connectedSortableSteps">
		{% for step in flow.step_set.all %}
			{% include "flowapp/get_step.html"%}
		{% endfor %}
	</div>
</div>
		{% comment %}
			<input id="{{ flow.id }}_add" type="image" class="hidden" src="{% static '/flowapp/images/add.jpeg' %}"
					onclick="popup_Menu('Context_Menu_{{ flow.id }}')" alt="Add" Height="40" Width="40">
		</div>
		<div id="Context_Menu_{{ flow.id }}" style="display:none;">
			<ul>
				{% for step_type in step_types %}
					<li onclick="getStepForm('{{ step_type.id }}', 
					'form', 'Context_Menu_{{ flow.id }}')">{{ step_type.name }}</li>
				{% endfor %}
			</ul>
		</div>
		<br>
	</div>
	{% endcomment %}
