{% extends "flowapp/base.html" %}
{% load static %}

{% block javascript %}
<script>
function getProjectForm() {
	$.ajax ({
		type: 'GET',
		url: '/project-form/',
		success: function (data) {
			document.getElementById("form").innerHTML = data
		}
		});
	dialog=$("#form_div").dialog({
		});
}

function update_page_function(data) {
	console.log(data);
	document.location.reload();
}

function getFormData($form){
		var unindexed_array = $form.serializeArray();
		var indexed_array = {};
		
		$.map(unindexed_array, function(n, i){
			indexed_array[n['name']] = n['value'];
		});
		
		return indexed_array;
	}
	
function postForm(){
		var $form = $("#form");
		var formData = getFormData($form);
		console.log(formData)
		originalData = {
					"csrfmiddlewaretoken": '{{ csrf_token }}',
		}
		data = {...originalData, ...formData}
		$.ajax({
				type: 'POST',
				url: '/project-form/',
				data: data,
				success: function (data) {
					var data = data
					var status = data['status']
					var form = data['form']
					console.log(status)
					if (status == "Failed"){
						document.getElementById('form').innerHTML = form
						}
					else {
					$('#form_div').dialog('close');
					update_page_function(data);
					}
					}
		});
}
</script>
<script>
function deleteProject(project_id) {
	$.ajax({	
		type: 'POST',
		url: '/delete-project/',
		data: {
			"csrfmiddlewaretoken": '{{ csrf_token }}',
			'project_id': project_id
			},
		success: update_page_function
		});
}
</script>
{% endblock %}

{% block content %}
<ul class="main center">
{% for project in main %}
<li>
<input type="image" class="float_left" src="{% static 'flowapp/images/trash.jpeg' %}" onclick="deleteProject({{ project.id }})" width="20" height="20">
<a href="/project/{{ project.id }}">{{ project.name }}</a>
</li>
<br>
{% endfor %}
</ul>

<button onclick="getProjectForm()">Add a Project</button>

<div id="form_div" style="display:none;">
	<form action="/project-form/" method="post" id="form">
	</form>	
	<input type="submit" onclick="postForm()">	
</div>
{% endblock %}
