{% extends "flowapp/base.html" %}
{% load static %}
{% block title %}{{ project.name }} | Testing Forms{% endblock %}

{% block javascript %}
<script>
	function getFormData($form){
		var unindexed_array = $form.serializeArray();
		var indexed_array = {};
		
		$.map(unindexed_array, function(n, i){
			indexed_array[n['name']] = n['value'];
		});
		
		return indexed_array;
	}
</script>
<script>
	function postStepFormcallback(data) {
		console.log(data)
	}
	function postStepForm(step_form_id){
		var $form = $("#"+step_form_id);
		var formData = getFormData($form);
		$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/step-form/',
				data: {
					"csrfmiddlewaretoken": '{{ csrf_token }}',
					"step_type_id": {{ step_type_id }},
					formData: formData,
				},
			});
			console.log(formData)
	}
</script>
{% endblock %}

{% block content %}
		<form action="/#/" method="post" id="form">
			{% csrf_token %}
			{{ form.as_p }}
		</form>
			<button onclick="postStepForm('form')"
			"> Submit
			</button>
{% endblock %}

{% comment %}
	{% block content %}

		{% for f in forms %}
			<!-- <p onclick="getStepForm({{ step_type.id }})">{{ step_type.name }}</p> -->
			<form action="/step-form/" method="post">
				{% csrf_token %}
				{{ f.as_p }}
				<input type="Submit">
			</form>
		{% endfor %}

	{% endblock %}
{% endcomment %}

{% comment %}
	<script>
	// TODO Make an Ajax function that posts to get_step_form ??
	function getStepForm(step_type_id) {
			$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/get-step-form/',
				data: {
					"step_type_id": step_type_id,
					"csrfmiddlewaretoken": '{{ csrf_token }}'
				},
			});
	</script>

	{% for step_type in step_type_list %}
		<p onclick="getStepForm({{ step_type.id }})">{{ step_type.name }}</p>
		<form action="/add-step/" method="post">
			{% csrf_token %}
			{{ form.as_table }}
	
			<input type="Submit">
		</form>
	{% endfor %}
{% endcomment %}
